{% if paginator.total_pages > 1 %}
<div class="pagination">
  <!-- 首页 -->
  {% if paginator.page == 1 %}
    <span class="ml-1 mr-1">&laquo;</span>
  {% else %}
    <a class="ml-1 mr-1" href="{{ site.baseurl | append: '/' | replace: '//', '/' }}">&laquo;</a>
  {% endif %}

  <!-- 上一页 -->
  {% if paginator.previous_page %}
    <a class="ml-1 mr-1" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&lsaquo;</a>
  {% else %}
    <span class="ml-1 mr-1">&lsaquo;</span>
  {% endif %}

  <!-- 当前页/总页数 -->
  <span class="ml-1 mr-1">{{ paginator.page }}/{{ paginator.total_pages }}</span>

  <!-- 下一页 -->
  {% if paginator.next_page %}
    <a class="ml-1 mr-1" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">&rsaquo;</a>
  {% else %}
    <span class="ml-1 mr-1">&rsaquo;</span>
  {% endif %}

  <!-- 末页 -->
  {% if paginator.page == paginator.total_pages %}
    <span class="ml-1 mr-1">&raquo;</span>
  {% else %}
    <a class="ml-1 mr-1" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', paginator.total_pages }}">&raquo;</a>
  {% endif %}
</div>
{% endif %}